.navbar {
  padding: 1rem 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .logo {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--dark);
}

.navbar .buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar .buttons .btn {
  width: 49%;
}

@media screen and (min-width: 568px) {
  .navbar .logo {
    display: block;
  }
  .navbar .buttons {
    width: 15em;
  }
}
